h3,
label {
  color: rgb(214, 203, 240);
}

h3 {
  text-align: center;
}

#contCen {
  /*
  margin: 6%;
  */
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 2%;
}
#busqueda {
  width: 80%;
  border-radius: 3px;
  background-color: rgb(238, 235, 245);
}
#barraBusqueda {
  margin-bottom: 2%;
  margin-left: 10%;
}
#btnBus {
  box-sizing: content-box;
  padding: 1.37%;
  transform: translate(0%, -20%);
  background: url(../imagenesDef/lupa.jpg);
  background-size: 22px;
}

.btncreate {
  border-radius: 50%;
  font-size: 24px;
  background-color: rgb(73, 68, 87);
}
.createEquipo {
  position: absolute;
  margin-left: 19%;
  margin-right: 25%;
  width: 50%;
  padding: 2%;
  background-color: rgba(73, 68, 87, 0.975);
  border-radius: 4px;
}
.controls {
  width: 100%;
  background-color: rgb(238, 235, 245);
  padding: 1%;
  border-radius: 6px;
}
.submit {
  width: 90%;
  margin-left: 5%;
  padding: 2%;
  margin-top: 2%;
  border-radius: 20px;
  color: rgb(44, 38, 59);
  font-weight: bold;
}

.Catcur,
.niveles,
.titEquipos:hover,
.titTarea:hover {
  color: rgb(191, 183, 211);
}
.titEquipos {
  color: rgb(214, 203, 240);
}
.titTarea {
  font-size: 24px;
  color: rgb(214, 203, 240);
}

table {
  border-collapse: collapse;
}
td,
th {
  margin: 3%;
  padding: 10px;
  font-size: large;
}
.Equipos {
  margin: 10px;
  padding: 15px;
  background-color: rgba(73, 68, 87, 0.788);
  border-radius: 4px;
  padding-bottom: 7px;
}

.EquiposBarraBus {
  margin-left: 2px;
  margin-right: 0px;
}
.contenedorEquipos {
  margin-left: 0;
}
.niveles {
  text-align: right;
  margin-bottom: 0%;
}
body {
  font-family: "Raleway", sans-serif;
  /*font-family: 'Nunito', sans-serif;*/
  background: url(../imagenesDef/Crashea3.jpg);
}

@media screen and (min-width: 1280px) {
  body {
    background: url(../imagenesDef/Crashea3.jpg) no-repeat center top;
    background-size: cover;
  }
}

/* Flexbox */
.contenedorFlex {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.columnFlex {
  flex-direction: column;
}

/*
.flexItems {
  flex: 1;
}
*/
